{% extends 'company_navbar.html' %}

{% block body %}
  <div class="background">
    <div class="box">
      <table class="table">
        <tbody>
          <tr>
            <td><a href='{% url "job_list" %}'><img src="/static/images/list.png" alt="list" /><br>Job List</a></td>
            <td><a href='{% url "add_job" %}'><img src="/static/images/add_job.png" alt="add_job" /><br>Add Job</a></td>
            <td><a href='{% url "company_view_applicant" %}'><img src="/static/images/view_applicant.png" alt="view_applicant" /><br>View Applicants</a></td>
            <td><a href='{% url "company_profile" %}'><img src="/static/images/profile.png" alt="profile" /><br>View Profile</a></td>
          </tr>
          <tr>
            <td><a href='/company_own_review/{{company.id}}/'><img src="/static/images/review.png" alt="review" /><br>View Review</a></td>
            <td><a href='{% url "company_feedbacks" %}'><img src="/static/images/feedbacks.png" alt="feedback" /><br>Feedback</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
