<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login-employees</title>
        <link rel="stylesheet" href="/static/css/style6.css">
    </head>

    <body>
        <div class="background">
            <div class="frontground">
                <img src="/static/images/lock.jpg" alt="lock" />
                <div class="title"><strong>Reset Password</strong></div>
                <br>
                <div class="content">
                    Email was sent. Please check your inbox and follow the instruction to reset your password.
                </div>
            </div>
        </div>
    </body>
</html>