<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reset Password</title>
        <link rel="stylesheet" href="/static/css/style3.css">
    </head>

    <body>

        <div class="background">
            <div class="frontground">
                <img src="/static/images/lock.jpg" alt="lock" />
                <form method="POST">
                    {% csrf_token %}
                    <div class="title"><strong>Reset Password</strong></div>
                    <div style="color:orangered; margin-left:10%;font-size:20px;">
                        {% for message in messages %}
                        <h5>{{message}}</h5>
                        {% endfor %}
                    </div>
                    <label for = "new_password">New Password:</label><br>
                    <input type="password" placeholder="Enter New Password" name="new_password" id="new_password" required/>
                    <label for = "new_password1">Confirm New Password:</label><br>
                    <input type="password" placeholder="Enter Password Again" name="new_password1" id="new_password1" required >
                    <input type="checkbox" class="checked" onclick="showpassword1()"><label style="margin-left:1%;">Show Password</label> 
                    <input type="hidden" name="username" value="{{request.user}}">
                    <div class="button">
                        <button type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script>
        function showpassword1(){
            var x = document.getElementById("new_password");
            var y = document.getElementById("new_password1");
            if(x.type==="password" && y.type==="password"){
            x.type="text";
            y.type="text";
            }
            else{
            x.type="password";
            y.type="password";
            }
        }
    </script>
</html>