{% extends 'user_navbar.html' %}

{% block body %}
<div class="background3">
    <div class="square1">
        <img src="/static/images/about_us.png" alt="about us" />
        <h1>HELLO,</h1>
        <p>My name is Lock Zi Kun.</p>  
        <p>This is my final year project.</p>
        <p>This project's objective is to design and implement an application that can assist IT graduates 
            in a professional selection based on their skills within the shortest time.</p>
        <br>
    </div>
</div>
{% endblock %}